<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How far can you math?</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="index.css">

</head>
<body>
    <header>
        <h1>
            How Far Can You Math?
        </h1>
        <p>
            Maths is a fascinating phenomenon. Let's play a game.
        </p>
    </header>
    <section id="app">
        <section class="cards">
            <article class="card how-to">
                <h1>How to Play:</h1>
                This game tests your knowledge of maths multipliers.
            </article>
            <section class="card app">
                <section v-if="!started && status != 'Game over!'" class="welcome-app">
                    <h2>Press Start to begin!</h2>
                    <button class="btn btn-startgame" @click="startGame()">Start Game</button>

                </section>
                <section v-if="started && !status != 'Game over!'" class="main-app">
                    <h1 class="timeLeft">Time Left: {{ timeLeft }}</h1>
                    <h2>{{prev}} x {{multiplier}}</h2>
                    <input v-on:keyup.enter="submit" v-model.number="answer" type="number" />
                    <p>{{ status }}</p>

                    <p>Score: {{ score }}</p>
                </section>
                <section class="game-over" v-if="!started && status == 'Game over!'">
                    <h1>Game Over</h1>
                    <h2>You made it to Level {{ level }}!</h2>
                    <h3>Score:</h3>
                    <h1>{{ score }}</h1>

                    <a :href="'http://twitter.com/share?text=I scored ' + score + ' on this fun math game. Can you beat my score?&url=http://hfcym.github.com&hashtags=#hfcym'" target="_blank">Share on Twitter</a>
                </section>

            </section>


        </section>
    </section>
</body>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            started: false,
            level: 1,
            prev: 1,
            multiplier: 2,
            answer: null,
            correctAnswer: 0,
            score: 0,
            status: "",
            time: 10,
            timePassed: 0,
            timerInterval: null
        },
        methods: {
            startGame: function() {
                console.log("Game has started!");
                this.started = true;
                this.startTimer();
            },
            submit: function () {
                console.log("submitted");
                this.correctAnswer = Math.pow(this.multiplier, this.level)
                console.log(this.correctAnswer, this.answer);
                if(this.correctAnswer == this.answer) {
                    this.status = "Correct";
                    this.answer = null;
                    this.level++;
                    this.prev = this.correctAnswer;
                    this.score += this.correctAnswer+this.timeLeft;
                    this.startTimer();
                }
                else {
                    this.gameOver();
                }
            },
            gameOver: function () {
                this.status = "Game over!";
                this.timePassed = 0;
                clearInterval(this.timerInterval);
                this.started = false;
            },
            tryAgain: function () {
                 Object.assign(this.$data, this.$options.data.call(this));
            },
            startTimer() {
                clearInterval(this.timerInterval);
                this.timePassed = 0;
                this.timerInterval = setInterval(() => (this.timePassed += 1), 1000);
            }
        },
        watch: {
            timePassed: function (val) {
                if(val > 10) this.gameOver();
            },

        },
        mounted() {
            this.timeLeft
        },
        computed: {
            timeLeft() {
                return this.time - this.timePassed;
            }
        }
    })
</script>


</html>