body {
    padding: 1rem;
}

.cards {
    margin: 0 auto;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

}
.how-to {
    text-align: center;
}

.card:first-child {
    border-right: 1px solid #ccc;
}